<spacer size="20"></spacer>
<center class="fontsize-18 text-dark">
    <i>
        État des lieux, décryptage et perspectives… Lors d’interventions exclusives et
        constructives, experts marché, industriels, responsables de circuits de distribution et
        start-ups témoigneront de leurs expériences, partageront leurs expertises et échangeront
        leurs bonnes pratiques<br/>
    </i>
    <spacer size="1 0"></spacer>
    <a href="http://www.madeparis.com/entretiens-et-controverses">
        <img src="http://glevents.bulle.me/made2020/29/images/btn-decouvrez-le-programme.png" alt="" class="float-center">

    </a>
</center>
<spacer size="20"></spacer>

<p class="text-align-right text-s">
    Cet évènement est en partenariat avec ACN

</p>


