<row>
    <columns large="3">
        <img src="http://glevents.bulle.me/made2020/29/images/image-nouvelles-origines.jpg" alt="" class="small-float-center">
    </columns>
    <columns large="6">
        <spacer size="20"></spacer>
        <h3 class="text-primary">{{title}}</h3>
        <center class="fontsize-18">
            Entretiens & Controverses<br/>
            Nouvelles Origines, Nouvelles Valeurs<br/>
            <spacer size="10"></spacer>
            Le Mardi 26 Novembre au Domaine Longchamp<br/>
            Fondation GoodPlanet<br/>
            <p class="text-s text-align-center"><strong>De 14:00 à 17:00</strong></p>
            <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" >
        </center>
        <br/>
        <button class="button large secondary"
            href="https://website-11590.eventmaker.io/registration/5d9f04ddfcd03800274bc1ba?no_cookie=true">
            {{button}}
            <br/>
            <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="">
        </button>
    </columns>
</row>