<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15">
        <strong>UN PRIX ATTRACTIF QUI INCLUT :</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>
<spacer size="10"></spacer>
<row>
    <columns large="3" valign="middle">
        <img src="http://glevents.bulle.me/made2020/31/images/bloc-prix-attractif-gauche.jpg" alt="" class="small-float-center">
    </columns>
    <columns large="3" valign="middle">
        2 Jours de rendez-vous sur espace networking + zone stands
    </columns>
    <columns large="6" valign="middle">
        <img src="http://glevents.bulle.me/made2020/31/images/bloc-prix-attractif-droite.jpg" alt=""
            class="small-float-center">
        <br />
        Une visibilité sur notre magazine, application mobile, plan salon…
    </columns>
</row>