<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15">
        <strong>2 Jours de rendez-vous sur un espace networking !</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns>
        <center>
            Après 4 éditions convaincantes des <strong>Rendez Vous Business Innovation</strong>, organisées par
            Nutrimarketing et le CFIA,<br/>

            L’événement s’associe au salon M.A.D.E pour créer un <strong>village Ingrédients</strong> autour de
            cette <strong>thématique forte de la « Naturalité »</strong> dans le but de proposer aux Industriels des
            solutions « Clean Label » et « Naturelles » innovantes.
        </center>
        <spacer size="10"></spacer>
        <img src="http://glevents.bulle.me/made2020/31/images/bloc-village-ingrédients.jpg" alt="">
    </columns>
</row>