<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15">
        <strong>VOTRE PARTICIPATION AUX VILLAGE INGRÉDIENTS C’EST :</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>
<spacer size="10" class="bg-black"></spacer>
<row class="bg-black text-white">
    <columns large="5">
        <strong>2 Jours de Rendez-Vous Business Innovation</strong>
        sur votre espace personnalisé.
        <spacer size="10"></spacer>
        Rencontrez les services R&D/Achats des
        <ul>
            <li><strong>Exposants Fabricants</strong> de produits alimentaires</li>
            <li>Et des <strong>Visiteurs</strong> qui représentent tous les circuits de distribution</li>
        </ul>

    </columns>
    <columns large="2" class="show-for-large">
        <img src="http://glevents.bulle.me/made2020/0/images/trait-vertical-marron-2x231.gif" style="width:2px;" alt="" class="float-center">
    </columns>
    <columns large="5">
        15 rendez-vous par jour au format «speed-dating »
        <br/>
        <spacer size="10"></spacer>
        <img src="http://glevents.bulle.me/made2020/31/images/bloc-participation-village.jpg" alt=""
            class="small-float-center">
    </columns>

</row>
<spacer size="20" class="bg-black"></spacer>