<container class="mt-20 bande-grise">
    <row>
        <columns class="pt-0">
                <callout>

                    <h2>
                        <center>
                            <strong>
                                Découvrez le plan avec les nouveaux secteurs :
                            </strong>
                        </center>
                    </h2>

                    <button href="#" class="ghost-primary mt-20">
                        <img src="https://glevents.bulle.me/midest2020/0/images/icone-telecharger-primary.png" alt=" "
                            class="inline">
                        Téléchargez le plan <br />
                        de Global Industrie 2020
                    </button>

                </callout>
        </columns>
    </row>

</container>