<container class="bande-primary">
    <row>
        <columns class="offset-2 pt-20">
            <img src="https://glevents.bulle.me/globalindustrie2020/0/images/icone-caret-bas-droite-rouge.png" alt="" width="31">
        </columns>
    </row>
</container>
<container class="bande-primary">
    <row>
        <columns small="1"></columns>
        <columns small="10">
            <row>
                <h2><strong>LES 4 MISSIONS DE GLOBAL INDUSTRIE</strong> </h2>
            </row>
            <row >
                    <p class="text-white bg-secondary">
                        <callout class="bg-secondary fontsize-18 ">
                            <strong>#1</strong>
                            Accompagner les femmes et les hommes vers de nouvelles compétences et leur ouvrir la voie vers de
                            nouveaux métiers
                        </callout>
                    </p>
                    <p class="text-white bg-secondary">
                        <callout class="bg-secondary fontsize-18 ">
                            <strong>#2</strong>
                            Valoriser l'image de l'industrie en France vis-à-vis du grand public et des jeunes en
                            particulier
                        </callout>
                    </p>
                    <p class="text-white bg-secondary">
                        <callout class="bg-secondary fontsize-18 ">
                            <strong>#3</strong>
                            Soutenir toute la communauté industrielle pour qu'elle s'engage au mieux vers l'industrie du
                            futur
                        </callout>
                    </p>
                    <p class="text-white fontsize-18 bg-secondary">
                        <callout class="bg-secondary fontsize-18 ">
                            <strong>#4</strong>
                            Rayonner sur toute l'Europe pour redonner sa véritable place à l'industrie française
                        </callout>
                    </p>
                </callout>
                
            </row>
        </columns>
        <columns small="1"></columns>
    </row>
</container>
<container class="bg-primary">
    <row>
        <columns>
            <img class="float-right"
                src="https://glevents.bulle.me/globalindustrie2020/0/images/icone-caret-rouge-haut-gauche.png" alt=""
                width="50">
        </columns>
    </row>
</container>