<container class="mt-20">
    <row class="collapse">
        <columns large="2" class="show-for-large">
            <img class="float-right"
                src="https://glevents.bulle.me/midest2020/1/images/image-bande-blanche-cote-gauche.jpg" alt="">
        </columns>
        <columns large="8" class="bande-blanche">
            <callout>
                <h1>
                    <strong>
                        QUAND SYNERGIE RIME AVEC <br />GLOBAL INDUSTRIE
                    </strong>
                </h1>

                <p>Les 4 grands salons, MIDEST (sous-traitance industrielle), SMART INDUSTRIES (industrie connectée,
                    collaborative et efficiente), INDUSTRIE (technologies et équipements de production) et TOLEXPO
                    (solutions et équipements pour la
                    tôlerie), qui composent GLOBAL INDUSTRIE, bénéficient pleinement de ce grand rassemblement
                    industriel inédit.</p>
                <ul>
                    <li>Une offre technologique mondiale</li>
                    <li>Une vitrine de l’innovation</li>
                    <li>Une plateforme d'échanges</li>
                    <li>Des temps forts, des animations et des espaces</li>
                    <li>Une veille des tendances</li>
                    <li>Un point de convergence politique et institutionnel</li>
                </ul>
            </callout>
        </columns>
        <columns large="2" class="show-for-large">
            <img src="https://glevents.bulle.me/midest2020/1/images/image-bande-blanche-cote-droit.jpg" alt="">
        </columns>
    </row>
</container>