<wrapper class="topbar">
    <container>
        <row>
            <columns class="preheader small-text-center text-white" large="6" small="12">
                <p class="small-text-center text-white">
                    Votre rendez-vous à ne pas manquer !
                </p>
            </columns>
            <columns class="online-version" large="6" small="12">
                <button>Version en ligne</button>
            </columns>
        </row>
    </container>
</wrapper>