<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15">
        <strong>Key figures concerning Italian products in France</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns large="6" valign="middle">
        Italy’s <strong>rich culinary heritage</strong> is very <strong>appreciated in France.</strong>
        <br />
        <spacer size="10"></spacer>
        It is the <strong>5<sup>th</sup> supplier country</strong> for foodstuffs in France: €4.15 million (7.8% of the
        French import market).
    </columns>
    <columns large="6">
        <img src="http://glevents.bulle.me/made2020/30/images/key-1.jpg" alt="" style="width:258px;" class="small-float-center">
    </columns>
</row>
<img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
<row>
    <columns>
        <center>
            <strong>The three leading product categories are:</strong>
        </center>
    </columns>
</row>
<row>
    <columns></columns>
    <columns large="6">
        <row>
            <columns>
                <ul>
                    <li>Sweet and bakery products,</li>
                    <li>Dairy products</li>
                    <li>Pasta.</li>
                </ul>
            </columns>
        </row>
    </columns>
    <columns></columns>
</row>
<row>
    <columns large="6">
        <img src="http://glevents.bulle.me/made2020/30/images/key-2.jpg" alt="" style="width:258px;" class="small-float-center">
    </columns>
    <columns large="6" valign="middle">
        <p class="fontsize-18">
        <strong class="text-primary">+16%</strong> for sweet products<br />
        <strong class="text-primary">+13%</strong> for dairy products<br />
        <strong class="text-primary">+5.8%</strong> for pasta
        </p>
        <spacer size="10"></spacer>
        <p class="text-primary">
            <strong>Italy is the largest producer of organic products in the European Union.</strong>
        </p>
    </columns>
</row>