<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15" valign="middle">
        <strong>THEY WILL BE AT M.A.D.E. 2020</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>

<spacer size="20" class="bg-black"></spacer>

<row class="bg-black text-white">
    <columns large="8">
        <strong>DA CASTO</strong>
        <br />
        <spacer size="10"></spacer>
        <p>
            100%
            NATURALE
            What does “<strong>natural panettone</strong>” mean?
            It is very simple: it means that the panettone is made exclusively with
            <strong>Absolutely natural</strong> ingredients.
        </p>
        <br>
    </columns>
    <columns large="4">
        <spacer size="10"></spacer>
        <img src="http://glevents.bulle.me/made2020/30/images/exposant-1.png" alt="" class="float-center">
        <spacer size="10"></spacer>
    </columns>
</row>

<center class="bg-black">
    <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron-277.gif" alt="">
    <spacer size="10" class="bg-black"></spacer>
</center>

<row class="bg-black text-white">
    <columns large="8">
        <spacer size="10"></spacer>
        <strong>FRATELLI IPANI </strong>
        <br />
        <spacer size="10"></spacer>
        <p>
            Speciality dedicated to lovers of tradition: fragrant baked bread produced with “light” flavouring, to be
            used
            as a “conveyor”, to “support” other goods such as fresh tomato and basil, Parma Ham, Gorgonzola & Nuts, as
            “Antipasto” or as a “Primo Piatto”
        </p>
        <br />
    </columns>
    <columns large="4">
        <spacer size="10"></spacer>
        <img src="http://glevents.bulle.me/made2020/30/images/exposant-2.png" alt="" class="float-center">
        <spacer size="10"></spacer>
    </columns>
</row>

<center class="bg-black">
    <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron-277.gif" alt="">
</center>

<row class="bg-black text-white">
    <columns large="8">

        <strong>FRATELLI POLLI</strong>
        <br />
        <spacer size="10"></spacer>
        <p>
            A great classic of Italian regional cuisine: everyone loves Genoese pesto.
            Polli Genoese pesto is the ideal ingredient for appetising summery pastas or to enrich your winter
            minestrone.In Liguria, in fact, pesto is a fundamental ingredient of vegetable soup, to add that fresh
            summery taste
        </p>
    </columns>
    <columns large="4">
        <spacer size="10"></spacer>
         <img src="http://glevents.bulle.me/made2020/30/images/exposant-3.png" alt="" class="float-center">
         <spacer size="10"></spacer>
    </columns>
</row>

<center class="bg-black">
    <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron-277.gif" alt="">
    <spacer size="10" class="bg-black"></spacer>
</center>

<row class="bg-black text-white">
    <columns large="8">
        <spacer size="10"></spacer>
       <strong>ITALPIZZA</strong>
       <br />
       <spacer size="10"></spacer>
       <p>
           Our line of pizzas with a thick crust brings the authentic
           Neapolitan tradition directly to your home
       </p>
    </columns>
    <columns large="4">
        <spacer size="10"></spacer>
         <img src="http://glevents.bulle.me/made2020/30/images/exposant-4.png" alt="" class="float-center">
         <spacer size="10"></spacer>
    </columns>
</row>

<center class="bg-black">
    <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron-277.gif" alt="">
    <spacer size="10" class="bg-black"></spacer>
</center>

<row class="bg-black text-white">
    <columns large="8">
        <spacer size="10"></spacer>
        <strong>EMMI DESSERT ITALIA </strong>
        <br />
        <spacer size="10"></spacer>
        <p>
            presents a range of traditional Italian and international desserts, offering classic recipes, Organic, Vegan
            and Free From in various formats
        </p>
    </columns>
    <columns large="4">
        <spacer size="10"></spacer>
        <img src="http://glevents.bulle.me/made2020/30/images/exposant-5.png" alt="" class="float-center">
        <spacer size="10"></spacer>
    </columns>
</row>

 <spacer size="1" class="bg-black"></spacer>


<spacer size="20" class="bg-black"></spacer>