
/**
 * @var $typography-list
 * @desc Set all font-sizes and its corresponding line-heights used in an exhibition
 */
$typography-list: (
        (fontsize:10, lineheight: 18, name: "xxs"),
        (fontsize:12, lineheight:18, name: "xs"),
        (fontsize:14, lineheight:20, name: "s"),
        (fontsize:16, lineheight:24, name: "base"),
        (fontsize:18, lineheight:32, name: "h5"),
        (fontsize:20, lineheight:32, name: "h4"),
        (fontsize:24, lineheight:34, name: "h3"),
        (fontsize:36, lineheight:48, name: "h2"),
        (fontsize:48, lineheight:56, name: "h1")) !default;

/**
 * @var $margin-list
 * @desc Set all margins used in an exhibition
 */
$margin-list: (0, 5, 10, 15, 20, 30, 40, 50) !default;

/**
 * @var $padding-list
 * @desc Set all padding used in an exhibition
 */
$padding-list: (0, 5, 10, 15, 20, 30, 40, 50) !default;

/**
 * @var color-list
 * @desc Set all colors used in an exhibition
 */
$color-list: () !default;
$color-list: map-merge((
    primary:    $primary-color,
    secondary:  $secondary-color,
    white:      $white,
    grey100:    $light-gray,
    grey200:    "#EEEEEE",
    grey300:    "#DBDBD9",
    grey400:    $medium-gray,
    grey500:    "#3A3A3A",
    grey900:    $dark-gray,
    dark:       "#0d0d0d",
    black:      $black,
    cyan:       "#E8F4FF",
    green:      $success-color,
    red:        $alert-color,
    purple:     "#8a157e",
    orange:     $pre-color,
    lightgreen: "#96bf0d",
    olive:      "#dcf0ea",
    darkblue:   "#24303e",
    forest:     "#a3d6c9"
), $color-list);

$direction-list: (
    (property:"top", alias: "t"),
    (property:"bottom", alias: "b")
)!default;

$display-list: (
    inline, block, inline-block
) !default;

$border-thickness-list: () !default;
$border-thickness-list: append(
    (1 2 3 5 10 15)
, unquote($border-thickness-list));

$border-type-list: () !default;
$border-type-list: append(
    (solid dotted),
    unquote($border-type-list)
);

$border-direction-list: () !default;
$border-direction-list: append(
    (left right bottom top),
    $border-direction-list
);

$width-list: () !default;
$width-list: append(
    (154),
    unquote($width-list)
);

$text-decoration-list: () !default;
$text-decoration-list: append(
    ("none" "underline"),
    unquote($text-decoration-list)
);
$text-align-list: () !default;
$text-align-list: append(
    (text center right),
    unquote($text-align-list)
);




