<spacer size="20"></spacer>
<row>
    <columns large="12">
        <center class="text-s">
            <strong>UN COLLOQUE POUR APPRENDRE, NOURRIR SA REFLEXION, <br/>ÉCHANGER, ET CONSTRUIRE</strong><br/>
            <br/>
            M.A.D.E. dédie son Colloque Entretiens & Controverses autour d’une thématique phare :<br/>
            <strong>Nouvelles Origines, Nouvelles valeurs !</strong><br/>
            État des lieux, décryptage et perspectives… Lors d’interventions exclusives et constructives, experts marché,
            industriels, responsables de circuits de distribution et start-ups témoigneront de leurs expériences,
            partageront
            leurs expertises et échangeront leurs bonnes pratiques
            <spacer size="10"></spacer>
            <button class="button secondary"
                href="https://website-11590.eventmaker.io/registration/5d9f04ddfcd03800274bc1ba?no_cookie=true">
                inscrivez-vous
                <br />
                <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="">
            </button>
        </center>
    </columns>
</row>