<spacer size="20"></spacer>
<row>
    <columns>
           <row>
               <columns small="1"><img src="http://glevents.bulle.me/made2020/28/images/fleche-noire-droite.png" alt=""
                       width="15" class="float-center"></columns>
               <columns small="11"> Entretiens & Controverses vous permettra de décrypter et d’appréhender les nombreux
                   enjeux
                   induits par les transitions écologiques et numériques qui impactent les marchés alimentaires.
               </columns>
           </row>
    
        <spacer size="10"></spacer>
         <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron-277.gif" alt="" class="float-center">
         <spacer size="10"></spacer>
         <center>
             <strong class="fontsize-16">
                 Découvrez le programme complet et inscrivez-vous en vous rendant sur :<br/>
                <a href=" http://www.madeparis.com/entretiens-et-controverses" style="text-decoration:underline">
                    http://www.madeparis.com/entretiens-et-controverses
                </a>
             </strong>
         </center>
    </columns>
</row>