<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center"
            alt="" >
    </columns>
    <columns large="10" class="pt-15">
        <strong>RETROUVEZ CHAQUE SEMAINE LES INTERVENANTS <br/>DU COLLOQUE</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>
<spacer size="20"></spacer>

<row>
    <columns>
        <center>
            <h1 class="text-align-center">
                Eric Boisteaux
                <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10 float-center" >
            </h1>
        </center>
        
    </columns>
</row>
<row>
    <columns class="border-solid-left-2 border-primary" small="12" large="5" valign="middle">
        <row class="text-primary">
            <columns small="2"><img src="http://glevents.bulle.me/made2020/28/images/fleche-or-droite.png" alt="" width="15" class="float-center"></columns>
            <columns small="10"><i><strong>Qui est-il ?</strong></i></columns>
        </row>
        <spacer size="10"></spacer>
        <strong>Directeur du Domaine de Longchamp,</strong> un lieu ouvert en 2017 à Paris par la fondation GoodPlanet
        qui offre au public :<br />
        <ul class="pl-15">
            <li>Des <strong>expositions</strong>,</li>
            <li>Des <strong>conférences</strong>,</li>
            <li>Des <strong>concerts</strong></li>
            <li>Et <strong>des ateliers</strong> autour des
                thèmes de <u> l’écologie et de la solidarité </u></li>
        </ul>
    </columns>
    <columns large="3" valign="middle">
        <img src="http://glevents.bulle.me/made2020/28/images/photo-eric-boisteaux.jpg" alt="" class="small-float-center" width="119">
    </columns>
    <columns small="12" large="5" class="border-solid-left-2 border-primary" >
         <row class="text-primary">
             <columns small="2"><img src="http://glevents.bulle.me/made2020/28/images/fleche-or-droite.png" alt=""
                     width="15" class="float-center"></columns>
             <columns small="10"><i><strong>Son parcours</strong></i></columns>
         </row>
         <spacer size="10"></spacer>
         Il travaille aux côtés de Yann
         Arthus-Bertrand depuis la
         création de <strong>GoodPlanet</strong> en
         2007 et y a successivement
         assuré les fonctions de
         responsable de
         communication, chargé de
         campagne et responsable des
         expositions et évènements de
         la fondation.
    </columns>
</row>