
<row class="collapse">
    <columns>
        <img src="http://glevents.bulle.me/made2020/0//images/fond-triangle-droite-noir.gif" >
    </columns>
</row>
<row class="collapse bg-primary">
    <columns large="10" valign="middle" >
            <spacer size="10"></spacer>
            <p class="text-align-center"> 
                <strong>SUIVEZ-NOUS SUR</strong>
                <strong>LES RÉSEAUX SOCIAUX</strong></p>
            <spacer size="10"></spacer>
    </columns>
    <columns large="3" valign="top" style="padding-right:0">
        <img
            src="http://glevents.bulle.me/made2020/0//images/fond-triangle-droite-marron.gif"
            style="float:right" >
    </columns>
</row>
<spacer size="20"></spacer>
<row>
    <columns small="4">
        <a href="https://twitter.com/MADE_Officiel" title="Twitter" target="_blank"
            style="text-decoration:none;border:0px;">
            <img src="http://glevents.bulle.me/made2020/0//images/icone-twitter.png" width="45" alt="Twitter"
            style="width:45px" class="float-center"
                border="0">
        </a>
    </columns>
    <columns small="4">
         <a href="https://www.facebook.com/profile.php?id=100010091475428" title="Facebook" target="_blank"
             style="text-decoration:none;border:0px;">
             <img src="http://glevents.bulle.me/made2020/0//images/icone-facebook.png" width="45" alt="Facebook"
              style="width:45px" class="float-center" border="0">
         </a>
    </columns>
    <columns small="4">
         <a href="https://www.linkedin.com/in/madeparis/" title="Linkedin" target="_blank"
             style="text-decoration:none;border:0px;">
             <img src="http://glevents.bulle.me/made2020/0//images/icone-linkedin.png" width="45" alt="Linkedin"
              style="width:45px" class="float-center" border="0">
         </a>
    </columns>
</row>
<spacer size="20"></spacer>