<row class="bg-black text-white">
  <columns large="2" valign="middle">
    <img src="http://glevents.bulle.me/made2020/0//images/logo-made-raw.png" class="pt-10 pb-10 small-float-center"
      alt="">
  </columns>
  <columns large="10" class="pt-15">
    <strong>RETROUVEZ LES STRATÉGIES D'ENSEIGNES &amp;<br> CIRCUITS DE
    DISTRIBUTION</strong>
    <br />
    <img src="http://glevents.bulle.me/made2020/0//images/trait-horizontal-marron.gif" alt="" class="pb-10">
  </columns>
</row>



<row>
  <columns large="6" valign="middle">
    <h3 class="text-primary fontsize-24">LIDL</h3>
    lance sa chaîne YouTube «&nbsp;Lidl&nbsp;Cuisine&nbsp;», en partenariat avec le Youtubeur culinaire Hervé de la chaîne Hervé
    Cuisine qui est suivi par près d'1 millions d'abonnés.
  </columns>
  <columns large="6" valign="top">
      <img src="http://glevents.bulle.me/made2020/18/images/strat-1.jpg" alt="">
  </columns>
</row>

<center>
  <img src="http://glevents.bulle.me/made2020/0//images/trait-moyen-horizontal-marron.gif" alt="">
</center>


<row>
  <columns large="6" valign="middle">
    <h3 class="text-primary fontsize-24">CARREFOUR</h3>
    lance Supeco… un concept de magasins discount en France qui ressemble au concept de Lidl (source Linéaires).
  </columns>
  <columns large="6" valign="top">
      <img src="http://glevents.bulle.me/made2020/18/images/strat-2.jpg" alt="">
  </columns>
</row>

<center>
<img src="http://glevents.bulle.me/made2020/0//images/trait-moyen-horizontal-marron.gif" alt="">
</center>


<row>
  <columns large="6" valign="middle">
    <h3 class="text-primary fontsize-24">DELIVEROO</h3>
    développe son concept de cuisines partagées. Devenu l'un des piliers de la stratégie d'expansion du service de
    livraison de repas à domicile, le concept consiste à louer des cuisines, avec des équipements de pointe, à des
    restaurateurs. Ils peuvent y tester le potentiel d'un nouveau marché ou desservir un quartier dans lequel ils ne
    sont pas implantés. (Source : les Echos).
  </columns>
  <columns large="6" valign="middle">
      <img src="http://glevents.bulle.me/made2020/18/images/strat-3.jpg" alt="">
  </columns>
</row>


<spacer size="40"></spacer>
