<wrapper class="bg-primary">
    <container>
        <spacer size="10" class="bg-primary"></spacer>
        <row class="collapse bg-primary">
            <columns large="6" class="pt-10 pb-10">
                <p class="text-white small-float-center">{{preheader}}</p>
            </columns>
            <columns large="6">
                <button href="{contextManager::getMirrorLink()}" class="button secondary">version en ligne</button>
            </columns>
        </row>
        <spacer size="10" class="bg-primary"></spacer>
    </container>
</wrapper>