<row class="bg-black text-white">
  <columns large="2">
    <img src="http://glevents.bulle.me/made2020/0//images/logo-made-raw.png" class="pt-10 pb-10 small-float-center"
      alt="">
  </columns>
  <columns large="10" class="pt-15">
    <strong>DÉTECTEZ LES DERNIÈRES NOUVEAUTÉS PRODUIT</strong>
    <br />
    <img src="http://glevents.bulle.me/made2020/0//images/trait-horizontal-marron.gif" alt="" class="pb-10">
  </columns>
</row>
<spacer size="20" class="bg-black"></spacer>
<row class="bg-black text-white">
  <columns large="6" valign="top">
      <div class="text-primary ">LUCULLUS</div>
      <p class="text-s">propose le véritable Lucullus de Valenciennes, une spécialité de la gastronomie française
        associant lefoie gras à
        la langue de boeuf fumée. La nouveauté : le Véritable Lucullus de Valenciennes aux truffes d'hiver.
        <a href="https://www.madeparis.com/actuality/639/les-produits-des-exposants" class="text-primary">Lire la suite »</a>
        <spacer size="30"></spacer>
        <img src="http://glevents.bulle.me/made2020/18/images/inno-1.jpg" alt="" srcset="" class="float-center">
      </p>
      
  </columns>
  <columns large="6" valign="top">
    <div class="text-primary">VITACUIRE</div>
    <p class="text-s">est spécialisée dans la création de produits feuilletés ou briochés surgelés. Parmi les
      nouveautés, des tranches de
      brioches garnies (100 g) : Montagnarde, tomates/féta/basilic, jambon/fromage, chèvre/méditerranéenne.
      <a href="https://www.madeparis.com/actuality/639/les-produits-des-exposants" class="text-primary">Lire la suite »</a>
      <spacer size="10"></spacer>
      <img src="http://glevents.bulle.me/made2020/18/images/inno-2.jpg" alt="" srcset="" class="float-center">
    </p>
    
  </columns>

</row>
<spacer size="20" class="bg-black"></spacer>

<spacer size="20"></spacer>
