<row class="text-xs bg-grey900 bg-dark-gray text-white">
    
    <columns>
        <spacer size="10"></spacer>
        <row>
            <columns large="3" small="6">
                <a href="http://www.gl-events.com" title="Made by GL events" target="_blank">
                    <img src="http://www.gl-events-exhibitions-digital.com/salons/industrie/2017/emails/_templates/images/glevents.png"
                        alt="Made by GL events" border="0" style="color:#000000;">
                </a>
            </columns>
            <columns large="8" small="6">
                <p class="fontsize-12">

             
                  <strong>GL EVENTS EXHIBITIONS</strong><br>
                  ZONE ARTISANALE MAYNE <br> CS 80223 <br>47440 CASSENEUIL
                     </p>
            </columns>
        </row>
        
    </columns>
    <columns>
        <spacer size="10"></spacer>
        <p class="fontsize-12">
            Tel : +33 (0)5 53 36 78 78<br>
            Fax : +33 (0)5 53 36 78 79<br>
            <a href="http://www.madeparis.com/" target="_blank" style="color:#FFFFFF">
                http://www.madeparis.com/
            </a>
            <br>
            <a href="mailto:made@gl-events.com" style="color:#FFFFFF">
                made@gl-events.com
            </a>
        </p>
        <spacer size="10"></spacer>
    </columns>
</row>

<row class="text-xs bg-grey900 bg-dark-gray text-white">
    <columns>
        <spacer size="10"></spacer>
    <center>
        *M.A.D.E. = Marques Associées Distribution Event: Own Label Event 
    </center>
    <spacer size="10"></spacer>
    </columns>
</row>

