<row class="bg-black text-white">
  <columns large="2" >
    <img src="http://glevents.bulle.me/made2020/0//images/logo-made-raw.png" class="pt-10 pb-10 small-float-center" alt="">
  </columns>
  <columns large="10" class="pt-15">
    <strong>DÉCOUVREZ LES DERNIÈRES INFORMATIONS MARCHÉ</strong>
    <br />
    <img src="http://glevents.bulle.me/made2020/0//images/trait-horizontal-marron.gif" alt="" class="pb-10">
  </columns>
</row>
<spacer size="20"></spacer>
<row>
  <columns large="3">
    <callout class="border-3 border-solid border-secondary p-10">
      <p>
        <center>+ <span class="text-orange fontsize-24"><strong>4,1 %</strong></span></center>
      </p>
      <spacer size="5"></spacer>
      <center>
        Pour le marché de
        la compote au rayon frais qui a atteint 272&nbsp;M€
      </center>
      <spacer size="60"></spacer>
    </callout>
  </columns>
  <columns large="1">
    <spacer size="10"></spacer>
    <center class="show-for-large">
      <spacer size="70"></spacer>
      <img src="http://glevents.bulle.me/made2020/0/images/trait-vertical-marron-6-50" alt="">
    </center>
  </columns>
  <columns large="3">
    <callout class="border-3 border-solid border-secondary p-10">
      <p>
        <center>+ <span class="text-orange fontsize-24"><strong>0,9 %</strong></span></center>
      </p>
      <spacer size="5"></spacer>
      <center>
        Pour le marché des sushis qui a atteint 220 M€.
        -1&nbsp;pt pour les Hypers et
        +&nbsp;2,7&nbsp;pts pour les Supers
      </center>
    </callout>
  </columns>
  <columns large="1">
    <spacer size="10"></spacer>
    <center class="show-for-large">
      <spacer size="70"></spacer>
      <img src="http://glevents.bulle.me/made2020/0/images/trait-vertical-marron-6-50" alt="">
    </center>
  </columns>
  <columns large="3">
    <callout class="border-3 border-solid border-secondary p-10">
      <p>
        <center>+ <span class="text-orange fontsize-24"><strong>20 %</strong></span></center>
      </p>
      <spacer size="5"></spacer>
      <center>
        Pour la restauration
        de nuit qui a généré
        un CA de 1,12&nbsp;Mds&nbsp;€
        en 2018
      </center>
      <spacer size="20"></spacer>
    </callout>
  </columns>
</row>
<spacer size="20"></spacer>