<row class="text-xs bg-grey900 bg-dark-gray text-white">
    <columns>
        Pour être certain de recevoir nos informations, il suffit d'ajouter notre adresse email
        <a style="font-size:11px;color:#FFFFFF;text-align:justify;font-family: Arial, Helvetica, sans-serif"
            href="mailto:made@gl-events.com">made@gl-events.com</a> à votre carnet d'adresse.<br>
        Conformément à la loi «informatique et libertés» du 6 janvier 1978 modifiée, vous disposez d'un droit
        d'accès, de rectification et de suppression aux données vous concernant ainsi que du droit de définir
        des directives générales et particulières définissant la manière dont vous entendez que soient exercés,
        après votre décès, ces droits, en écrivant à GL events Exhibitions 59 quai Rambaud 69002 Lyon, France.
        Cliquez sur le lien de désinscription ci-dessous si vous ne souhaitez plus recevoir des offres et
        informations par email dans le cadre du salon M.A.D.E.<br>
        <a style="font-size:11px;color:#FFFFFF;text-align:justify;font-family: Arial, Helvetica, sans-serif"
            href="{contextManager::getDesabLink()}">Désabonnement</a>
    </columns>
</row>
               
               

