
/**
 * @file utils/mixins/_typography.scss
 * @desc creates utility classes used for texts
 */

@if variable-exists("typography-list") {
    @each $typography in $typography-list {
        @if (map-get($typography, "name")) {

            /**
             * @desc Generates a text- classname for each pair of fontsize and lineheight defined
             *  @example : 
             *      .text-xs {
             *          font-size:12px;
             *          line-height:18px;
             *       }
             */
            .text-#{map-get($typography, "name")} {
                font-size: map-get($typography, "fontsize") * 1px;
                line-height: map-get($typography, "lineheight") * 1px;                
            }

            /**
             *  @desc Generates a display- classname for each fontsize  defined. Useful when the client or graphist decides to fuck the vertical rythmn.
             * @example : 
             *      .display-xs {
             *          font-size:12px;
             *          line-height:12px;
             *      }
             */
            .display-#{map-get($typography, "name")} {
                font-size: map-get($typography, "fontsize") * 1px;
                line-height: map-get($typography, "fontsize") * 1px;
            }

            /**
             *  @desc Generates a fontsize- classname for each fontsize. 
             * @example:
             *      .fontsize-12 {
             *          font-size:12px;
             *      }
             */
            .fontsize-#{map-get($typography,"fontsize")} {
                font-size: map-get($typography,"fontsize") * 1px;
            }
        }
    }
}