<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15">
        <strong>RETROUVEZ CHAQUE SEMAINE LES INTERVENANTS DU COLLOQUE</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>

<row>
    <columns>
        <center>
            <h1 class="text-align-center">
                Céline LAISNEY
                <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt=""
                    class="pb-10 float-center">
            </h1>
        </center>

    </columns>
</row>
<row>
    <columns class="border-solid-left-2 border-primary" small="12" large="5" valign="middle">
        <row class="text-primary">
            <columns small="2"><img src="http://glevents.bulle.me/made2020/28/images/fleche-or-droite.png" alt=""
                    width="15" class="float-center"></columns>
            <columns small="10"><i><strong> Qui est-elle ?</strong></i></columns>
        </row>
        <spacer size="10"></spacer>
        Elle a créé en 2013 le cabinet <strong>AlimAvenir </strong>(veille et de prospective), après 10 ans passés à Futuribles (cabinet de conseil en prospective), et 5 ans au <strong>Ministère de l’agriculture et de l’agroalimentaire.</strong>
       
    </columns>
    <columns large="3" valign="middle">
        <img src="http://glevents.bulle.me/made2020/32/images/photo-celine-laisney.jpg" alt=""
            class="small-float-center" width="119">
    </columns>
    <columns small="12" large="5" class="border-solid-left-2 border-primary">
        <row class="text-primary">
            <columns small="2"><img src="http://glevents.bulle.me/made2020/28/images/fleche-or-droite.png" alt=""
                    width="15" class="float-center"></columns>
            <columns small="10"><i><strong>Son créneau</strong></i></columns>
        </row>
        <spacer size="10"></spacer>
       Elle apporte aux acteurs publics et privés une <strong>expertise indépendante </strong>sur les <strong>évolutions des comportements alimentaires</strong>, et effectue un suivi des <strong>tendances de consommation</strong>, ainsi que <strong>des nouveaux produits et services</strong>, tant au niveau français qu’international. Elle coordonne l’étude annuelle Vigie Alimentation. 
    </columns>
</row>