<spacer size="20"></spacer>
<row class="bg-black text-white">
    <columns large="2" valign="middle">
        <img src="http://glevents.bulle.me/made2020/0/images/logo-made-raw.png" class="small-float-center" alt="">
    </columns>
    <columns large="10" class="pt-15">
        <strong>SON INTERVENTION</strong>
        <br />
        <img src="http://glevents.bulle.me/made2020/0/images/trait-horizontal-marron.gif" alt="" class="pb-10">
    </columns>
</row>
<row class="bg-black text-white">
    <columns>
    <strong>Mardi 26 Novembre - 14 :25 – 14 :55</strong><br/>
    <strong>Origine des aliments : quels critères de réassurance demain ?</strong></columns>
</row>
<row class="bg-black text-white">
    <columns valign="middle">
        <img src="http://glevents.bulle.me/made2020/32/images/intervention-celine-laisney.jpg" alt=""
            class="small-float-center">
    </columns>
    <columns class="border-solid-left-2 border-primary">
        <spacer size="20"></spacer>
        Céline Laisney réalise de manière indépendante des
        études et une veille sur l'alimentation des Français, des
        Européens et des habitants des pays développés, dans
        une perspective comparatiste et avec des incursions
        dans les pays émergents et les pays en développement.
        Elle s'intéresse également à la question de la sécurité
        alimentaire mondiale à l'horizon 2050.
        Les données utilisées sont de natures très variées :
        statistiques, enquêtes barométriques ou d'opinion,
        études sociologiques ou économiques...
        <spacer size="20"></spacer>
    </columns>
</row>
<row class="bg-black text-white">
    <columns>
    La veille est issue de plusieurs centaines de sources françaises et étrangères : presse généraliste et
    spécialisée, organismes de recherche, think tanks, mais également observations de terrain.
    </columns>
</row>
<spacer size="20" class="bg-black"></spacer>