<row>

    <columns>
        <spacer size="20"></spacer>
        <p class="fontsize-16 text-align-center text-normal">
            <strong>UN COLLOQUE POUR APPRENDRE, NOURRIR SA REFLEXION, ÉCHANGER, ET CONSTRUIRE</strong>
            <br/>
            M.A.D.E. dédie son Colloque Entretiens & Controverses autour d’une thématique phare :
            <br />
            <strong>Nouvelles Origines, Nouvelles valeurs !</strong>
            <br />
            État des lieux, décryptage et perspectives… Lors d’interventions exclusives et constructives, experts
            marché,
            
            industriels, responsables de circuits de distribution et start-ups témoigneront de leurs expériences,
            partageront

            leurs expertises et échangeront leurs bonnes pratiques
            <br />
            <spacer size="10"></spacer>
            <center>
            <a href="#" target="_blank">
                <img src="http://glevents.bulle.me/made2020/32/images/bouton-inscrivez-vous.png" alt="" width="170" style="width:170px" align="center" class="float-center">

            </a>
            </center>
        </p>
        
    </columns>

</row>