
    <spacer size="10"></spacer>
        <row class="collapse bg-primary">
            <columns large="1" class="show-for-large">
                <img src="https://glevents.bulle.me/globalindustrie2020/0/images/prefix-golden-tech-titre.jpg" alt="">
            </columns>
            <columns large="10">
                <center class="text-white pt-10">Vous êtes</center>
                <h2 class="text-secondary fontsize-24">
                    <strong>{{{ metier }}}</strong>
                </h2>
            </columns>
        </row>
        <row class="collapse bg-secondary">
            <columns large="6">
                <spacer size="20"></spacer>
                
                <center>
                    <strong class="fontsize-18"> N’attendez plus et<br /> participez au grand <br />concours qui
                        distingue et<br /> récompense
                        l’excellence<br />industrielle ! </strong>
                    <spacer size="20"></spacer>
                    <row>
                        <columns small="12" large="6">
                            <center>

                                <a href="mailto:organisation@goldentech.fr">
                                    <center class="bg-secondary">
                                        <img src="https://glevents.bulle.me/globalindustrie2020/0/images/btn_contactez_nous.png" width="177" alt=""
                                            align="center" width="177">
                                    </center>
                                
                                </a>
                          
                            </center>
                        </columns>
                    </row>
                   
                </center>
            </columns>

            <columns large="6">
                <img src="{{ image-droite-logo-url }}"
                     valign="bottom" alt="" class="small-float-center">
            </columns>
        </row>