<wrapper>
    <spacer size="20"></spacer>
    <container>
        <row>
            <columns>
                <p class="fontsize-10">
                Pour être certain de recevoir nos informations, il suffit d'ajouter notre adresse email à votre carnet
                d'adresse.
                <br/>
                Conformément à la loi «informatique et libertés» du 6 janvier 1978 modifiée, vous disposez d'un droit
                d'accès, de rectification et de suppression aux données vous concernant ainsi que du droit de définir
                des directives générales et particulières définissant la manière dont vous entendez que soient exercés,
                après votre décès, ces droits, en écrivant à GL events Exhibitions, Service Juridique, 59 quai Rambaud
                69002 Lyon, France.
                <br/>
                Vous pouvez également introduire une réclamation auprès d'une autorité de contrôle.
                Cliquez sur le lien de désinscription ci-dessous si vous ne souhaitez plus recevoir des offres et
                informations par email dans le cadre du salon Global Industrie.
                <br/>
                Se désinscrire
                </p>
            </columns>
        </row>
    </container>
</wrapper>