
    <spacer size="20"></spacer>
        <row class="collapse">
            <columns large="6">
                <img src="{{ deroule-compet-img-url }}"
                    alt="">
            </columns>
            <columns large="6">
                    <spacer size="40"></spacer>
                     <h2 class="text-secondary fontsize-24">
                         <strong>LE DÉROULÉ DE<br />
                             LA COMPÉTITION</strong>
                         
                     </h2>
                     <spacer size="20"></spacer>
                     <ul class="fleche-cercle-jaune">
                         <li class="pb-15"><strong>Rejoignez une équipe</strong></li>
                         <li class="pb-15"><strong>Participez à une des 17 épreuves techniques</strong></li>
                         <li class="pb-15"><strong>Remportez le précieux sésame !</strong></li>
                     </ul>
                     <a href="https://www.goldentech.fr/fr" class="bg-white">
                         <center>
                                 <img src="https://glevents.bulle.me/globalindustrie2020/0/images/btn_plus_d_info_rouge.png"
                                 width="177" alt="" align="center">
                                 </center>
                            
                     </a>
                
            </columns>
        </row>