
    <spacer size="20"></spacer>
        <row class="bg-primary collapse">
            <columns large="12">
                <img src="https://glevents.bulle.me/globalindustrie2020/23/images/bandeau-pourquoi-participer.jpg"
                    alt="">
            </columns>
        </row>
        <row class="collapse bg-primary">
            <columns large="1"  class="show-for-large">
                <img src="https://glevents.bulle.me/globalindustrie2020/0/images/prefix-golden-tech-titre.jpg" alt="">
            </columns>
            <columns large="10">
                <spacer size="20"></spacer>
                <h2 class="text-secondary fontsize-24">
                    <strong>POURQUOI Y PARTICIPER ?</strong>
                </h2>
                <ul class="carre-rouge text-white">
                    <li>L’<strong>événement majeur </strong>de l’édition 2020 de Global Industrie</li>
                    <li>Un <strong>coup de projecteur</strong> maximal sur votre savoir-faire métier</li>
                    <li>Une <strong>forte médiatisation</strong> en amont et pendant les 4 jours du salon</li>
                </ul>
            </columns>
        </row>