
    <spacer size="20"></spacer>
        <row>
            <columns large="4"></columns>
            <columns small="6" large="4">
                <row>
                    <columns small="2">
                        <a href="https://twitter.com/GoldenTech_">
                            <img
                            src="https://glevents.bulle.me/globalindustrie2020/0/images/icone-twitter-21-18"
                            alt="">
                        </a>
                        </columns>
                    <columns small="10">
                        <a href="https://twitter.com/GoldenTech_" target="_blank" class="text-black text-decoration-none">
                        <strong>#GOLDENTECH</strong>
                        </a>
                    </columns>
                </row>
            </columns>
            <columns small="4" large="" valign=""></columns>
            
        </row>